asgiref==3.5.2
certifi==2022.6.15
Django==4.1
django-core==1.4.1
django-cors-headers==3.13.0
django-jazzmin==2.5.0
django-rest-framework==0.1.0
django-rest-passwordreset==1.2.1
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
Pillow==9.2.0
PyJWT==2.4.0
python-decouple==3.6
pytz==2022.2.1
sentry-sdk==1.9.5
sqlparse==0.4.2
tzdata==2022.2
urllib3==1.26.12
whitenoise==6.2.0
